.runner-card {
  width: 500px;
  background: pink;
  border-radius: 7px;
  height: 80px;

  margin-top: 8px;
  margin-bottom: 8px;

  padding: 10px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runner-name,
.runner-place,
.runner-bib {
  margin: 0;
  text-align: initial;
}
